{% if section_top_skip %}
\cvsection[{{ section_top_skip }}]{ {{- section_title -}} }
{% else %}
\cvsection{ {{- section_title -}} }
{% endif %}

\begin{cvcompactentries}

{% for entry in entries %}
%---------------------------------------------------------
{% set entry_title = ('\href{' ~ entry.pdf ~ '}{' ~ (entry.title | le) ~ '}') if entry.pdf else (entry.title | le) %}
  \cvcompactentry
    { {{- entry.year | le -}} }
    { {{- entry_title -}} }
    { {{- entry.venue | le -}} }
{% endfor %}
\end{cvcompactentries}
